/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

.containerR {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.blink-bg {
    color: #fff;
    padding: 10px;
    /* display: inline-block; */
    border-radius: 5px;
    animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
    0% {
        background-color: #d3d62a;
    }

    25% {
        background-color: #d86417;
    }

    50% {
        background-color: #ef0a1a;
    }

    85% {
        background-color: #cc8f3f;
    }

    100% {
        background-color: #f1540b;
    }
}


/* Hide the browser's default radio button */
.containerR input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmarkR {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerR:hover input~.checkmarkR {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerR input:checked~.checkmarkR {
    background-color: #ee50e6;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkR:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerR input:checked~.checkmarkR:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerR .checkmarkR:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


/* END RADION */
.containerc {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containerc input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}

.satuan {
    position: absolute;
    right: 45px;
    margin-top: -28px;
    text-align: right;
    color: rgba(128, 128, 128, 0.685);
}


.fkanan {
    text-align: right;
}

.i {
    font-style: italic;
}

.fkiri {
    text-align: left;
}

.checkboxC {
    height: auto;
    position: absolute;
    /* top: 10px; */
    left: 30px;
    /* transform: translate(-50%, -50%); */
    z-index: 22;
    /* color: white; */
}

.radioR {

    z-index: 22;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 100%;
    background-color: #eee;
    z-index: 0;
}

/* On mouse-over, add a grey background color */
.containerc:hover input~.checkmark {
    background-color: #6e696e15;
}

/* When the checkbox is checked, add a blue background */
.containerc input:checked~.checkmark {
    background-color: #d4a33a91;
    font-weight: bold;
    font-size: 15px;
    color: turquoise;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerc input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerc .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#header-fixed {
    position: fixed;
    top: 0px;
    display: none;
    background-color: white;
}


.mb10 {
    margin-bottom: 10px;
}

.mt5 {
    margin-top: 5px;
}

.center {
    text-align: center;
    align-items: center;
}

.boxShadow {
    box-shadow: 4px 7px 5px -2px rgba(32, 17, 29, 0.75);
    -webkit-box-shadow: 4px 7px 5px -2px rgba(32, 17, 29, 0.75);
    -moz-box-shadow: 4px 7px 5px -2px rgba(32, 17, 29, 0.75);
}

.boxscroll {
    /* background-color: lightblue; */
    width: 100%;
    height: auto;
    overflow: scroll;
    padding-bottom: 10px;
}

td {
    padding: 0 10px 0 10px;
}


#page-wrapper {
    /* background-image: linear-gradient( white 40%, #bd4899 83%); */
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}


html,
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background: #fff;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml10 {
    margin-left: 10px;
}

.mb5 {
    margin-bottom: 5px;
}

.ml5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: -10px;
}

body a {
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.ml-10 {
    margin-left: -10px;
}

p {
    margin: 0;
}

ul,

body a:hover {
    text-decoration: none;
}

.main-content {
    position: relative;
}

/*-------HEADER SECTION------*/
/* ----STICKY HEADER----*/
.sticky-header {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 100;
    height: 60px;
}

.header-section {
    background: #bd4899;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
    -o-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
}

.header-section::after {
    clear: both;
    display: block;
    content: '';
}

.header-left {
    float: left;
    width: 45%;
}

.header-right {
    float: right;
}

/* ----menu-icon----*/
button#showLeftPush {
    font-size: 1.5em;
    width: 80px;
    padding: 0.57em 0;
    text-align: center;
    cursor: pointer;
    float: left;
    color: #6F6F6F;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    border: none;
    background-color: #fff;
    outline: none;
}

button#showLeftPush:hover {
    color: #d45ab6;
}

/*--push-menu-css--*/
.cbp-spmenu {
    position: fixed;
}

.cbp-spmenu-vertical {
    width: 245px;
    height: 100%;
    top: 60px;
    z-index: 1000;
    background-color: #652e47;
    padding: 2em 0;
}

.cbp-spmenu-left {
    left: 0;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: -309px;
}

/* Push classes applied to the body */
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
}

.cbp-spmenu-push-toright {
    left: 0;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cbp-spmenu-push div#page-wrapper {
    margin: 0 0 0 15.3em;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    min-height: 877px;
}

.cbp-spmenu-push.cbp-spmenu-push-toright div#page-wrapper {
    margin: 0;
}

/*--//push-menu-css--*/
/*--side-menu--*/
.sidebar ul li {
    margin-bottom: .3em;
}

.sidebar ul li a {
    color: #FFFFFF;
    font-size: 1em;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #F2B33F;
}

.sidebar .arrow {
    float: right;
}

i.nav_icon {
    margin-right: 1em;
    font-size: 1.1em;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span.nav-badge {
    font-size: 12px;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.32);
    width: 25px;
    height: 25px;
    border-radius: 68%;
    -webkit-border-radius: 68%;
    -moz-border-radius: 68%;
    -o-border-radius: 68%;
    position: absolute;
    top: 18%;
    right: 15%;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: center;
}

.orange {
    color: orange;
}

.pt10 {
    padding-top: 10px;
}

.pt-10 {
    padding-top: -10px;
}


.pb-10 {
    padding-bottom: -10px;
}

.maroon {
    color: maroon;
}

.pb10 {
    padding-bottom: 10px;
}

.p10 {
    padding: 10px;
}

.pl0 {
    padding-left: 0%;
}

.flex {
    display: flex;
}

.btn-pink {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #ac4181;
    padding: .5em 1em;
    font-size: 1em;
    /* margin: 0.5em 0 0; */
}

.btn-pink:hover {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #cf73aa;
    padding: .5em 1em;
    font-size: 1em;
}

.btn-pink:active {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #701f50;
    padding: .5em 1em;
    font-size: 1em;
}

.btn-error {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #d81c1c;
    padding: .5em 1em;
    font-size: 1em;
    /* margin: 0.5em 0 0; */
}

.alert {
    border-radius: 0%;
}

.btn-reset {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #F2B33F;
    padding: .5em 1em;
    font-size: 1em;
    /* margin: 0.5em 0 0; */
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.w30 {
    width: 30%;
}

.w20 {
    width: 20%;
}

.w10 {
    width: 10%;
}

.w5 {
    width: 5%;
}


span.nav-badge-btm {
    font-size: 12px;
    color: rgb(65, 42, 42);
    background: #F2B33F;
    position: absolute;
    top: 18%;
    right: 15%;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: center;
    padding: 0em 1em;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background: none;
    color: #e94e02;
}

.chart-nav span.nav-badge-btm {
    right: 5%;
    top: 24%;
}

ul.dropdown-menu {
    animation: flipInX 1s ease;
    -moz-animation: flipInX 1s ease;
    -webkit-animation: flipInX 1s ease;
    -webkit-backface-visibility: visible !important;
    -ms-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -moz-backface-visibility: visible !important;
    data-wow-delay: ".1s";
}

/*--//side-menu--*/
/* ----Logo----*/
.logo {
    background: #bd4899;
    text-align: center;
    float: left;
}

.title {
    margin: 6px 0 0 100px;
    font-weight: bold;
    height: 25px;
    font-size: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace'

}

.clas {
    margin-left: 100px;
    color: yellow;
    font-family: 'Courier New', Courier, monospace'

}

.logo a {
    padding: 0.9em 3.3em .7em;
    display: block;
    text-decoration: none;
}

.logo a h1 {
    color: #fff;
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 700;
}

.logo a span {
    color: #F8F8F8;
    font-size: .7em;
    text-align: center;
    letter-spacing: 1px;
}

/* ----//Logo----*/
/*start search*/
.search-box {
    float: right;
    width: 40%;
    margin: 1.2em 0 0 3em;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.sb-search-input {
    outline: none;
    background: #fff;
    width: 100%;
    margin: 0;
    z-index: 10;
    font-size: 16px;

    color: #6164C1;
    padding: 0.5em 1em;
    border: 2px solid rgba(79, 82, 186, 0.3);
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
    font-family: 'Roboto Condensed', sans-serif;
}

.sb-search-input::-webkit-input-placeholder {
    color: #6164C1;
}

.sb-search-input:-moz-placeholder {
    color: #6164C1;
}

.sb-search-input::-moz-placeholder {
    color: #6164C1;
}

.sb-search-input:-ms-input-placeholder {
    color: #6164C1;
}

.input__label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.graphic {
    fill: none;
    -webkit-transform: scale3d(1, -1, 1);
    transform: scale3d(1, -1, 1);
    -webkit-transition: stroke-dashoffset 0.5s;
    transition: stroke-dashoffset 0.5s;
    pointer-events: none;
    stroke: #D81B60;
    stroke-width: 6px;
    stroke-dasharray: 962;
    stroke-dashoffset: 962;
}

/* Madoka */
.input__field--madoka {
    background: transparent;
    display: block;
    float: right;
}

.input__field--madoka:focus {
    outline: none;
}

.input__field--madoka:focus+.input__label,
.input--filled .input__label {
    cursor: default;
    pointer-events: none;
}

.input__field--madoka:focus+.input__label .graphic,
.input--filled .graphic {
    stroke-dashoffset: 0;
}

.input__field--madoka:focus+.input__label .input__label-content {
    -webkit-transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
    transform: scale3d(0.81, 0.81, 1) translate3d(0, 4em, 0);
}

/*--//search-ends --*/
/*--- Progress Bar ----*/
.meter {
    position: relative;
}

.meter>span {
    display: block;
    height: 100%;

    position: relative;
    overflow: hidden;
}

.meter>span:after,
.animate>span>span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    overflow: hidden;
}

.animate>span:after {
    display: none;
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

.red>span {
    background-color: #65CEA7;
}

.nostripes>span>span,
.nostripes>span:after {
    -webkit-animation: none;
    -moz-animation: none;
    background-image: none;
}

/*--- User Panel---*/
.profile_details_left {
    float: left;
}

.dropdown-menu {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
    -moz-box-shadow: 2px 3px 4px rgba(0, 0, 0, .175);
    border-radius: 0;
}

li.dropdown.head-dpdn {
    display: inline-block;
    padding: 1.1em 0px 27px 0px;
    background-color: #9c3362;
    border-left: 1px solid #b5428d;
    float: left;
    height: 60px;
}

li.dropdown.head-dpdn:nth-child(3) {
    /* border-right: 1px solid #E0E0E0; */
}

li.dropdown.head-dpdn a.dropdown-toggle {
    padding: 1.7em 1.6em;
}

ul.dropdown-menu li {
    margin-left: 0;
    width: 100%;
    padding: 0;
    background: #fff;
}

.user-panel-top ul {
    padding-left: 0;
}

.user-panel-top li {
    float: left;
    margin-left: 15px;
    position: relative;
}

.user-panel-top li span.digit {
    font-size: 11px;
    font-weight: bold;
    color: #FFF;
    background: #e64c65;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: -3px;
    right: -10px;
}

.user-panel-top li:first-child {
    margin-left: 0;
}

.sidebar .nav-second-level li a.active,
.sidebar ul li a.active {
    color: yellow;
    background-color: #bd4899;
}

li.active a i,
.act a i {
    color: #F2B33F;
}

.custom-nav>li.act>a,
.custom-nav>li.act>a:hover,
.custom-nav>li.act>a:focus {
    background-color: #353f4f;
    color: #8BC34A;
}

.user-panel-top li a {
    display: block;
    padding: 5px;
    text-decoration: none;
}

.header-right i.fa.fa-envelope {
    color: rgb(224, 224, 174);
}

i.fa.fa-bell {
    color: rgb(224, 224, 174);
}

i.fa.fa-tasks {
    color: rgb(224, 224, 174);
}

.user-panel-top li a:hover {
    border-color: rgba(101, 124, 153, 0.93);
}

.user-panel-top li a i {
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    line-height: 25px;
}

.user-panel-top li a i span {
    font-size: 15px;
    color: #FFF;
}

.user-panel-top li a.user {
    background: #667686;
}

.user-panel-top li span.green {
    background: #a88add;
}

.user-panel-top li span.red {
    background: #b8c9f1;
}

.user-panel-top li span.yellow {
    background: #bdc3c7;
}

/***** Messages *************/
.notification_header {
    background-color: #FAFAFA;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 8px;
}

.notification_header h3 {
    color: #6A6A6A;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.notification_bottom {
    background-color: rgba(200, 129, 230, 0.14);
    padding: 4px 0;
    text-align: center;
    margin-top: 5px;
}

.notification_bottom a {
    color: #6F6F6F;
    font-size: 1em;
}

.notification_bottom a:hover {
    color: #6164C1;
}

.notification_bottom h3 a {
    color: #717171;
    font-size: 12px;
    border-radius: 0;
    border: none;
    padding: 0;
    text-align: center;
}

.notification_bottom h3 a:hover {
    color: #4A4A4A;
    text-decoration: underline;
    background: none;
}

.user_img {
    float: left;
    width: 19%;
}

.user_img img {
    max-width: 100%;
    display: block;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;
}

.notification_desc {
    float: left;
    width: 70%;
    margin-left: 5%;
}

.notification_desc p {
    color: #757575;
    font-size: 13px;
    /* padding:2px 0; */
}

.wrapper-dropdown-2 .dropdown li a:hover .notification_desc p {
    color: #424242;
}

.notification_desc p span {
    color: #979797 !important;
    font-size: 11px;
}

/*---bages---*/

.puskes {
    font-size: 1.5em;
    /* line-height: 1.2em; */
    font-weight: 700;
    text-align: end;
}

.header-right span.badge {
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    background: #8BC34A;
    line-height: 15px;
    width: 20px;
    height: 20px;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 16%;
    padding: 2px 0 0;
}

.header-right span.blue {
    background-color: #D81B60;
}

.header-right span.red {
    background-color: #ef553a;
}

.header-right span.blue1 {
    background-color: #9358ac;
}

i.icon_1 {
    float: left;
    color: #00aced;
    line-height: 2em;
    margin-right: 1em;
}

i.icon_2 {
    float: left;
    color: #ef553a;
    line-height: 2em;
    margin-right: 1em;
    font-size: 20px;
}

i.icon_3 {
    float: left;
    color: #9358ac;
    line-height: 2em;
    margin-right: 1em;
    font-size: 20px;
}

.avatar_left {
    float: left;
}

i.icon_4 {
    width: 45px;
    height: 45px;
    background: #F44336;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    line-height: 44px;
    font-style: normal;
    margin-right: 1em;
}

i.icon_5 {
    background-color: #3949ab;
}

i.icon_6 {
    background-color: #03a9f4;
}

.blue-text {
    color: #2196F3 !important;
    float: right;
}

/*---//bages---*/
/*--Progress bars--*/
.progress {
    height: 10px;
    margin: 7px 0;
    overflow: hidden;
    background: #e1e1e1;
    z-index: 1;
    cursor: pointer;
}

.task-info .percentage {
    float: right;
    height: inherit;
    line-height: inherit;
}

.task-desc {
    font-size: 12px;
}

.wrapper-dropdown-3 .dropdown li a:hover span.task-desc {
    color: #65cea7;
}

.title-a {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -5px;
}

.title-b {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -8px;
}

.progress .bar {
    z-index: 2;
    height: 15px;
    font-size: 12px;
    color: white;
    text-align: center;
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-striped .yellow {
    background: #f0ad4e;
}

.progress-striped .green {
    background: #5cb85c;
}

.progress-striped .light-blue {
    background: #4F52BA;
}

.progress-striped .red {
    background: #d9534f;
}

.progress-striped .blue {
    background: #428bca;
}

.progress-striped .orange {
    background: #e94e02;
}

.progress-striped .bar {
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress.active .bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@-moz-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@-ms-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 40px 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

/*--Progress bars--*/
/********* profile details **********/
ul.dropdown-menu.drp-mnu i.fa {
    margin-right: 0.5em;
}

ul.dropdown-menu {
    padding: 0;
    min-width: 215px;
    top: 101%;
}

.dropdown-menu>li>a {
    padding: 3px 15px;
    font-size: 1em;
}

.profile_details {
    float: right;
}

.profile_details_drop .fa.fa-angle-up {
    display: none;
}

.profile_details_drop.open .fa.fa-angle-up {
    display: block;
}

.profile_details_drop.open .fa.fa-angle-down {
    display: none;
}

.profile_details_drop a.dropdown-toggle {
    display: block;
    padding: 0.4em 2em 0 1em;
    /* padding: 0.8em 3em 0 2em; */
}

.profile_img span.prfil-img {
    float: left;
}

.mainimage {
    width: 45%;
}

.orange1 {
    color: rgb(224, 170, 69);
}

.user-name {
    float: left;
    margin-top: 8px;
    margin-left: 11px;
    height: 35px;
    width: 80px;
    ;
}

.profile_details ul li {
    list-style-type: none;
    position: relative;
}

.profile_details li a i.fa.lnr {
    position: absolute;
    top: 34%;
    right: 8%;
    color: #4F52BA;
    font-size: 1.6em;
}

.profile_details ul li ul.dropdown-menu.drp-mnu {
    padding: 1em;
    min-width: 190px;
    top: 122%;
    left: 0%;
}

ul.dropdown-menu.drp-mnu li {
    list-style-type: none;
    padding: 3px 0;
}

.user-name p {
    font-size: 1em;
    color: white;
    line-height: 0.7em;
    font-weight: 700;
}

.user-name span {
    font-size: .75em;
    /* font-style: italic; */
    color: rgb(218, 180, 180);
    font-weight: normal;
    margin-top: 0em;
}

/*---footer---*/
.footer {
    background: #fff;
    padding: 1em;
    width: 100%;
    text-align: center;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
    -ms-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
    -o-box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.21);
}

.footer p {
    color: #7A7676;
    font-size: 1em;
    line-height: 1.6em;
}

.footer p a {
    color: #E94E02;
}

.footer p a:hover {
    text-decoration: underline;
}

/*---//footer---*/
/*---main-content-start---*/
.widget {
    width: 32%;
    border: 1px solid #F5F1F1;
    padding: 0px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.widget.states-mdl {
    margin: 0 2%;
}

.stats-left {
    float: left;
    width: 70%;
    background-color: #4F52BA;
    text-align: center;
    padding: 1em;
}

.states-mdl .stats-left {
    background-color: #585858;
}

.states-mdl .stats-right {
    background-color: rgba(88, 88, 88, 0.88);
}

.states-last .stats-left {
    background-color: #e94e02;
}

.states-last .stats-right {
    background-color: rgba(233, 78, 2, 0.84);
}

.stats-right {
    float: right;
    width: 30%;
    text-align: center;
    padding: 1.54em 1em;
    background-color: rgba(79, 82, 186, 0.88);
}

.stats-left h5 {
    color: #fff;
    font-size: 1em;
}

.stats-left h4 {
    font-size: 2em;
    color: #fff;
    margin-top: 10px;
}

.stats-right label {
    font-size: 2em;
    color: #fff;
}

/*--charts--*/
.charts,
.row {
    margin: 2em 0 0;
}

.charts-grids {
    background-color: #fff;
    padding: 1em;
}

.charts-grids canvas#bar {
    width: 100% !important;
}

.charts canvas#line {
    width: 100% !important;
}

h4.title {
    font-size: 1.1em;
    color: #C1C1C1;
    margin: 0.5em 0 1em;
    text-transform: uppercase;
}

/*--//charts--*/
.widget-shadow {
    background-color: #fff;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

/*--statistics--*/
.stats-info.widget {
    padding: 1em;
    background-color: #fff;
}

.stats-info ul li {
    margin-bottom: 1em;
    border-bottom: 1px solid #EFE9E9;
    padding-bottom: 10px;
    font-size: 0.9em;
    color: #555;
}

.progress.progress-right {
    width: 25%;
    float: right;
    height: 8px;
    margin-bottom: 0;
}

.stats-info ul li.last {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0.5em;
}

.stats-info span.pull-right {
    font-size: 0.7em;
    margin-left: 11px;
    line-height: 2em;
}

.stats-info.stats-last {
    padding: 1.15em 1em;
    width: 66%;
    margin-left: 2%;
}

.table.stats-table {
    margin-bottom: 0;
}

.stats-table span.label {
    font-weight: 500;
}

.stats-table h5 {
    color: #4F52BA;
    font-size: 0.9em;
}

.stats-table h5.down {
    color: #D81B60;
}

.stats-table h5 i.fa {
    font-size: 1.2em;
    font-weight: 800;
    margin-left: 3px;
}

.stats-table thead tr th {
    color: #555;
}

.stats-table td {
    font-size: 0.9em;
    color: #555;
    padding: 11px !important;
}

.blinking {
    animation: fade 1s infinite alternate;
}


/*--//statistics--*/
/*--map--*/
.map {
    /* padding: 1em; */
    height: 100vh;
    margin: -100px -30px -30px -20px;
}

/*--//map--*/
/*--social-media--*/
.social-media {
    padding: 0;
    margin-left: 2%;
    width: 31.3%;
}

.wid-social {
    display: inline-block;
    width: 33.33%;
    padding: 15px;
    float: left;
    text-align: center;
}

.facebook {
    background-color: #3b5998 !important;
    color: #ffffff !important;
}

.icon-xlg {
    font-size: 30px;
}

.wid-social .social-info h3 {
    color: rgba(255, 255, 255, 0.91);
    font-weight: 800;
    font-size: 1.5em;
    margin: 0.3em 0;
}

.wid-social .social-info h4 {
    margin: 0;
    font-size: 0.8em;
    color: #fff;
    letter-spacing: 1px;
}

.twitter {
    background-color: #55acee !important;
    color: #ffffff !important;
}

.google-plus {
    background-color: #dc4e41 !important;
    color: #ffffff !important;
}

.dribbble {
    background-color: #ea4c89 !important;
    color: #ffffff !important;
}

.xing {
    background-color: #cfdc00 !important;
    color: #ffffff !important;
}

.vimeo {
    background-color: #162221 !important;
    color: #ffffff !important;
}

.yahoo {
    background-color: #410093 !important;
    color: #ffffff !important;
}

.flickr {
    background-color: #a4c639 !important;
    color: #ffffff !important;
}

.rss {
    background-color: #f26522 !important;
    color: #ffffff !important;
}

.wid-social.youtube {
    width: 100%;
    background-color: #cd201f !important;
    color: #ffffff !important;
}

.wid-social.youtube .icon-xlg {
    font-size: 38px;
}

.youtube .social-icon {
    display: inline-block;
    margin-right: 6em;
    vertical-align: super;
}

.youtube .social-info {
    display: inline-block;
}

.wid-social:hover .social-icon {
    transform: rotatey(360deg);
    transition: .5s all;
}

/*--//social-media--*/
/*--calender --*/
.calender {
    padding: 1em 1.5em 1.5em;
}

/*--//calender --*/
/*---//main-content---*/
/*-- media --*/
h3.title1 {
    font-size: 2em;
    color: #e94e02;
    margin-bottom: 0.8em;
}

.bs-example5 {
    background: #fff;
    padding: .6em;
    background-image: linear-gradient(180deg, white 80%, #f1caf156 100%);
}

.react-datepicker-wrapper {
    width: 100%;
}

.dis {
    color: #eee;
}

.swal2-popup {
    border-radius: 0%;
}

.bs-example5:hover {
    background: rgba(179, 67, 162, 0.315);
    cursor: pointer;

}

.media-heading {
    /* color: #000; */
}

.sidebard-panel .feed-element,
.media-body,
.sidebard-panel p {
    font-size: 0.85em;
    color: #999;
}

.example_6 {
    margin: 2em 0 0 0;
}

.demolayout {
    background: #E94E02;
    width: 60px;
    overflow: hidden;
}

.padding-5 {
    padding: 5px;
}

.demobox {
    background: #f0f0f0;
    color: #333;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    display: block;
}

.padding-l-5 {
    padding-left: 5px;
}

.padding-r-5 {
    padding-right: 5px;
}

.padding-t-5 {
    padding-top: 5px;
}

.padding-b-5 {
    padding-bottom: 5px;
}

code {
    background: rgb(246, 255, 252);
    padding: 2px 2px;
    color: #000;
}

.media_1-left {
    padding: 0;
    background-color: #fff;
    width: 49%;
}

.cell {
    display: table-cell;
}

.media_1-right {
    float: left;
    margin-left: 2%;
    width: 49%;
    padding: 0;
}

.media_1 {
    margin: 2em 0 0 0;
    padding-bottom: 1px;
}

.media_box {
    margin-bottom: 2em;
}

.media_box1 {
    margin-top: 2em;
}

.media {
    /* margin-top:40px !important; */
}

s .media:first-child {
    margin-top: 0 !important;
    padding: 0 1px;
}

.panel_2 {
    padding: 2em 2em 0;
    background: #fff;
}

.panel_2 p {
    color: #555;
    font-size: 0.85em;
    margin-bottom: 1em;
}

td.head {
    color: #000 !important;
    font-size: 1.2em !important;
}

/*--Typography--*/
h3.hdg {
    font-size: 2em;
}

.show-grid [class^=col-] {
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2em;
    border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
    background: #e0e0e0;
}

.xs h3,
h3.m_1 {
    color: #000;
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 1em;
}

.grid_3 p {
    color: #999;
    font-size: 0.85em;
    margin-bottom: 1em;
    font-weight: 300;
}

.ant-form-item-label {
    height: 35px;
}

label {
    color: orange;
}

.label {
    font-weight: 300 !important;
    border-radius: 4px;
}

.grid_3 {
    padding: 1.5em 1em;
}

.grid_5 {
    margin-top: 2em;
}

.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.hdg {
    margin-bottom: 0.6em;
    color: #4F52BA;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 0;
}

.badge-primary {
    background-color: #03a9f4;
}

.badge-success {
    background-color: #8bc34a;
}

.badge-warning {
    background-color: #ffc107;
}

.badge-danger {
    background-color: #e51c23;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: none;
}

.grid_3 p {
    line-height: 2em;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: 300;
}

.bs-docs-example {
    margin: 1em 0;
}

section#tables p {
    margin-top: 1em;
}

@media (max-width:768px) {
    .grid_3 {
        margin-bottom: 0em;
    }
}

@media (max-width:640px) {

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .grid_5 h3,
    .grid_5 h2,
    .grid_5 h1,
    .grid_5 h4,
    .grid_5 h5,
    h3.hdg,
    h3.bars {
        margin-bottom: .5em;
    }

    .progress {
        height: 10px;
        margin-bottom: 10px;
    }

    ol.breadcrumb li,
    .grid_3 p,
    ul.list-group li,
    li.list-group-item1 {
        font-size: 14px;
    }

    .breadcrumb {
        margin-bottom: 10px;
    }

    .well {
        font-size: 14px;
        margin-bottom: 10px;
    }

    h2.typoh2 {
        font-size: 1.5em;
    }

    .grid_4 {
        margin-top: 30px;
    }
}

@media (max-width:480px) {
    .table h1 {
        font-size: 26px;
    }

    .table h2 {
        font-size: 23px;
    }

    .table h3 {
        font-size: 20px;
    }

    .alert,
    p {
        font-size: 14px;
    }

    .pagination {
        margin: 20px 0 0px;
    }
}

@media (max-width: 320px) {
    .grid_4 {
        margin-top: 18px;
    }

    h3.title {
        font-size: 1.6em;
    }

    .alert,
    p,
    ol.breadcrumb li,
    .grid_3 p,
    .well,
    ul.list-group li,
    li.list-group-item1,
    a.list-group-item {
        font-size: 13px;
    }

    .alert {
        padding: 10px;
        margin-bottom: 10px;
    }

    ul.pagination li a {
        font-size: 14px;
        padding: 5px 11px !important;
    }

    .list-group {
        margin-bottom: 10px;
    }
}

/*--//Typography--*/
/*--table--*/
.tables h4 {
    font-size: 1.4em;
    margin-bottom: 1em;
    color: #777777;
}

.tables .panel-body,
.tables .bs-example {
    padding: 2em 2em 0.5em;
}

.tables .table>thead>tr>th,
.tables .table>tbody>tr>th,
.tables .table>tfoot>tr>th,
.tables .table>thead>tr>td,
.tables .table>tbody>tr>td,
.tables .table>tfoot>tr>td {
    padding: 13px;
    border-top: 1px solid #E0E0E0;
}

.bs-example {
    margin-top: 2em;
}

.table-hover>tbody>tr:hover {
    background-color: #E8E6E6;
}

/*--//table--*/
/*--forms--*/

.swal2-popup {
    border-radius: 0%;
}

.css-yk16xz-control {
    /* color: yellow;
    font-size: 30px;
    border-radius: 0%;
    border-color: yellow; */

}

.forms h3.title1 {
    margin-bottom: 0;
}

label {
    margin-top: -5px;
}

.forms h4 {
    font-size: 1.3em;
    color: #6F6F6F;
}

.form-title {
    padding: .2em 2em;
    background-color: #bd489994;
    border-bottom: 1px solid #D6D5D5;
    color: white;
    text-align: left;
    font-weight: bolder;
}

.form-body {
    padding: 1.5em 2em;
}

.inline-form .form-group,
.inline-form .checkbox,
.form-two .form-group {
    margin-right: 1em;
}

.forms label {
    font-weight: 400;
}

.form-control {
    border-radius: inherit;
}

.help-block {
    margin-top: 10px;
}

.forms button.btn.btn-default {
    background-color: rgba(97, 100, 193, 0.85);
    color: #fff;
    padding: .5em 1.5em;
    border: none;
    outline: none;
    border-radius: inherit;
}

.inline-form.widget-shadow {
    margin-top: 2em;
}

.form-two {
    margin-top: 2em;
}

.form-three {
    margin-top: 2em;
    padding: 2em;
}

/* --  general forms  -- */
.form-control1,
.form-control_2.input-sm {
    border: 1px solid #ccc;
    padding: 5px 8px;
    color: #616161;
    background: #fff;
    box-shadow: none !important;
    width: 100%;
    font-size: 0.85em;
    font-weight: 300;
    height: 40px;
    border-radius: 0;
    -webkit-appearance: none;
    resize: none;
}

.general .tab-content {
    padding: 1.5em 0.5em 0;
}

.control3 {
    margin: 0 0 1em 0;
}

.btn-warning {
    color: #fff;
    background-color: rgb(6, 217, 149);
    border-color: rgb(6, 217, 149);
    padding: 8.5px 12px;
}

.tag_01 {
    margin-right: 5px;
}

.tag_02 {
    margin-right: 3px;
}

.btn-warning:hover {
    background-color: rgb(3, 197, 135);
    border-color: rgb(3, 197, 135);
}

.btn-success:hover {
    border-color: #E74225 !important;
    background: #E74225 !important;
}

.control2 {
    height: 100px;
}

.bs-example4 {
    background: #fff;
    padding: 2em;
}

button.note-color-btn {
    width: 20px !important;
    height: 20px !important;
    border: none !important;
}

.show-grid [class^=col-] {
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2em;
    border: 10px solid #f0f0f0;
}

.show-grid [class*="col-"]:hover {
    background: #e0e0e0;
}

.xs h3,
.widget_head {
    color: #000;
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 1em;
}

.grid_3 p {
    color: #999;
    font-size: 0.85em;
    margin-bottom: 1em;
    font-weight: 300;
}

.input-icon.right>i,
.input-icon.right .icon {
    right: 12px;
    float: right;
}

.input-icon>i,
.input-icon .icon {
    position: absolute;
    display: block;
    margin: 10px 8px;
    line-height: 14px;
    color: #999;
}

.form-group input#disabledinput {
    cursor: not-allowed;
}

/*--//forms--*/
/*--validation--*/
.validation-grids {
    padding: 0;
    width: 49%;
}

.validation-grids.validation-grids-right {
    margin-left: 2%;
}

.validation-grids .radio {
    display: inline-block;
    margin: 0.5em 2em 0 0;
}

.help-block {
    font-size: 0.8em;
    color: #6F6F6F;
    margin-left: .5em;
}

.validation-grids .btn-primary {
    background: #6164C1 !important;
    color: #FFF;
    border: none;
    font-size: 0.9em;
    font-weight: 400;
    padding: .5em 1.2em;
    width: 100%;
    margin-top: 1.5em;
    outline: none;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: inherit;
}

.validation-grids .btn-primary:hover {
    background: rgba(79, 82, 186, 0.81) !important;
}

.bottom .btn-primary {
    margin: 0;
}

.bottom .form-group {
    margin-bottom: 0;
}

/*--//validation--*/
/*--grids--*/
.grids {
    padding: 2em 1em;
    margin-bottom: 2em;
}

.grids .form-group {
    margin: 0;
}

.grid-bottom {
    padding: 2em;
}

.grid-bottom .table {
    margin: 0;
}

/*--//grids--*/
/*--blank-page--*/
.blank-page {
    padding: 2em;
}

.blank-page p {
    font-size: 1em;
    color: #555;
    line-height: 1.8em;
}

/*--//blank-page--*/
/*--login-page--*/
.login-page {
    width: 40%;
    margin: 1em auto 0;
}

.login-page h3.title1 {
    text-align: center;
    margin-bottom: 1em;
}

.login-top {
    padding: 1.5em;
    border-bottom: 1px solid #DED9D9;
    text-align: center;
}

.login-body {
    padding: 2em;
}

.login-top h4 {
    font-size: 1.1em;
    color: #555;
    line-height: 1.8em;
}

.login-top h4 a {
    color: #e94e02;
}

.login-top h4 a:hover {
    color: #555;
}

.login-page input[type="text"],
.login-page input[type="password"] {
    font-size: 0.9em;
    padding: 10px 15px 10px 37px;
    width: 50%;
    color: #A8A8A8;
    outline: none;
    border: 1px solid #D3D3D3;
    background: #FFFFFF;
    margin: 0em 0em 1.5em 0em;
}


.login-page label.checkbox {
    margin: 0 0 0 1.3em;
    font-size: 1em;
    color: #555;
    font-weight: 400;
    display: inline-block;
    float: left;
}

.login-page label.checkbox {
    margin-left: 1.3em;
}

.login-page label.checkbox {
    margin-left: 1.3em;
    font-size: 1em;
    color: #555;
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
}

.forgot-grid {
    margin-top: 1.2em;
}

.forgot {
    float: right;
}

.forgot a {
    font-size: 1em;
    color: #555;
    display: block;
}

.forgot a:hover {
    color: #e94e02;
}

.login-page input[type="submit"] {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #ac4181;
    width: 100%;
    padding: .5em 1em;
    font-size: 1em;
    margin: 0.5em 0 0;
}

.login-page input[type="submit"]:hover {
    background: #dd20be;
}


.login-page input[type="button"] {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #ac4181;
    width: 100%;
    padding: .5em 1em;
    font-size: 1em;
    margin: 0.5em 0 0;
}

.login-page input[type="button"]:hover {
    background: #dd20be;
}

.login-page-bottom {
    text-align: center;
}

.social-btn {
    display: inline-block;
    background: #3B5998;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.social-btn i {
    color: #fff;
    padding: .8em 1.3em;
    font-size: 0.9em;
    vertical-align: middle;
}

.social-btn i.fa {
    background-color: #354F88;
    padding: .6em 1em;
    font-size: 1.1em;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
}

.social-btn:hover {
    background: #354F88;
}

.social-btn.sb-two {
    background-color: #45B0E3;
    margin-left: 2em;
}

.social-btn i.fa.fa-twitter {
    background-color: #40A2D1;
}

.social-btn.sb-two:hover {
    background-color: #40A2D1;
}

.login-page-bottom h5 {
    font-size: 1.5em;
    color: #524C4F;
    font-weight: 800;
    margin: 1em 0;
}

.social-btn:hover i.fa {
    transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
}

/*--//login-page--*/
/*-- sign-up --*/
.signup-page h3.title1 {
    margin-bottom: 0.4em;
    text-align: center;
}

p.creating {
    text-align: center;
}

.sign-up-row {
    padding: 2em;
    width: 70%;
    margin: 2em auto;
}

.sign-up1 {
    float: left;
}

.sign-up1 h4 {
    color: #555;
    margin: 1.6em 0 1em;
    font-size: 1em;
}

.sign-up2 {
    float: right;
    width: 78%;
}

.sign-up2 label {
    font-weight: 400;
    margin: 1.6em 2em 1em 0;
}

.sign-up2 input[type="text"],
.sign-up2 input[type="password"] {
    outline: none;
    border: 1px solid #D0D0D0;
    background: none;
    font-size: 14px;
    padding: 10px 10px;
    width: 100%;
    margin: 1em 0;
}

.sign-up2 input[type="text"]:focus,
.sign-up2 input[type="password"]:focus {
    border-color: #e94e02;
}

.signup-page h5,
.signup-page h6 {
    margin: 0 0 1em;
    color: #6164C1;
    font-size: 1.1em;
}

.signup-page h6 {
    margin: 1em 0 !important;
}

.sub-login-left {
    float: left;
    width: 30%;
}

.sub-login-right {
    float: right;
}

.sub-login {
    margin: 5em 0 0;
}

.signup-page p {
    font-size: 1em;
    color: #555;
}

.sub-login-right p a {
    color: #a88add;
    padding-left: 8px;
}

.sub-login-right p a:hover {
    color: #fff;
}

.sub_home input[type="submit"] {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #6164C1;
    width: 23%;
    padding: .5em 1em;
    font-size: 1em;
    margin: 0.5em 0 0 11em;
}

.sub_home input[type="submit"]:hover {
    background-color: #E94E02;
}

.signup-page .radios {
    margin-top: 1.5em;
}

.signup-page label.label_radio {
    margin-right: 2em;
    color: #7D7878;
    font-size: 1em;
}

/*-- //sign-up --*/
/*-- charts-page--*/
.chrt-page-grids {
    width: 49%;
    border: 1px solid #F5F1F1;
    padding: 2em;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    background-color: #fff;
}

.chrt-page-grids.chrt-right {
    margin-left: 2%;
}

.doughnut-grid,
.polar-area,
.pie-grid {
    width: 74%;
    margin: 2.2em auto;
}

.polar-area {
    margin: 2.9em auto 1em;
}

.pie-grid {
    margin: 2.8em auto 1em;
}

.radar-grid {
    width: 85%;
    margin: 0 auto;
}

.chrt-page-grids canvas#bar {
    width: 100% !important;
}

/*--//charts-page--*/
/*--general elements--*/
.panel-info.widget-shadow {
    padding: 2em 1em;
}

.panel {
    border-radius: inherit;
}

.general h4.title2 {
    font-size: 1.4em;
    margin: 0 0 1em 1em;
    color: #777777;
}

.modals {
    margin-top: 2em;
    padding: 2em 1em;
}

.modal .row {
    margin: 1em 0 0;
}

h4.modal-title {
    margin: 0;
}

.modal-grids button.btn.btn-primary {
    background-color: #e94e02;
    font-size: 1em;
    color: #fff;
    border-color: #e94e02;
    outline: none;
    border-radius: 3px;
}

.general-grids {
    padding: 2em 1.5em;
    width: 49%;
}

.general-grids.grids-right {
    margin-left: 2%;
}

/*--ScrollSpy --*/
.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: 10px;
    overflow: auto;
    padding-right: 20px;
}

.scrollspy-example h4 {
    font-size: 1.2em;
    color: #E94E02;
    margin-bottom: .5em;
}

.scrollspy-example p {
    font-size: 0.9em;
    color: #555;
    line-height: 1.8em;
    margin-bottom: 2em;
}

.general-grids ul.dropdown-menu {
    padding: 0.5em;
}

.general-grids h4.title2,
.tool-tips h4.title2 {
    margin: 0 0 1em;
}

/*--tabs --*/
.nav-tabs {
    border-bottom: 1px solid #797979;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    border: 1px solid #797979;
    border-bottom-color: transparent;
}

.tab-content p {
    font-size: 0.9em;
    color: #555;
    line-height: 1.8em;
}

/*--tool-tips--*/
.tool-tips.widget-shadow {
    padding: 2em;
    margin-top: 2em;
}

.tengah {
    text-align: center;
    vertical-align: middle;
}

.bs-example-tooltips {
    margin-bottom: 1em;
    text-align: center;
}

.bs-example-tooltips .btn-default {
    margin-right: 1em;
}

.collps-grids {
    width: 49%;
}

/*--//general elements--*/
/*--inbox--*/
.inbox-page {
    /* width: 80%;
    margin: 0 auto; */
}

.inbox-row {
    padding: 0.5em 1em;
}

.inbox-page h4 {
    font-size: 1.2em;
    color: #A2A0A0;
    margin-bottom: 1em;
}

.mail {
    float: left;
    margin-right: 1em;
}

.mail.mail-name {
    width: 27%;
}

.mail-right {
    float: right;
    margin-left: 1.5em;
}

.inbox-page h6 {
    font-size: 1em;
    color: #555;
}

.inbox-page input.checkbox {
    margin: 13px 0 0;
}

.inbox-page img {
    width: 100%;
    vertical-align: bottom;
}

.inbox-page p {
    font-size: 1em;
    color: #000;
    line-height: 2em;
}

.inbox-page h6 {
    font-size: 1em;
    color: #555;
    line-height: 2em;
}

.inbox-page ul.dropdown-menu {
    padding: 5px 0;
    min-width: 105px;
    top: 0;
    left: -110px;
}

.inbox-page .dropdown-menu>li>a {
    padding: 4px 15px;
    font-size: 0.9em;
}

.inbox-page .dropdown-menu>li>a:hover,
.inbox-page .dropdown-menu>li>a:focus {
    color: #e94e02;
}

.mail-icon {
    margin-right: 7px;
}

.inbox-page.row {
    margin-top: 2em;
}

.inbox-page .checkbox {
    position: relative;
    top: -3px;
    margin: 0 1rem 0 0;
    cursor: pointer;
}

.inbox-page .checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 15px;
    height: 15px;
    border: 1px solid #A0A0A0;
}

.inbox-page .checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    cursor: pointer;
}

.inbox-page .checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .4rem;
    width: .8rem;
    border-color: #4F52BA;
    border-top-style: none;
    border-right-style: none;
    border-width: 2px;
}

/*--//responsive-design---*/